# Default values for market-data service
replicaCount: 1

image:
  repository: jaimehenao8126/trii-market-data
  tag: "776496072f2a56ca5a8e3a2c965fbdccf224d412"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8001
  targetPort: 8001

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

config:
  colombianMarkets: true
  apiPort: 8001
  redisHost: redis-service
  timescaleHost: postgres-service

ingress:
  enabled: false