# Default values for market-data service
replicaCount: 1

image:
  repository: jaimehenao8126/trii-market-data
  tag: "15f3921a"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8001
  targetPort: 8001

resources:
  limits:
    cpu: 200m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

config:
  colombianMarkets: true
  apiPort: 8001
  redisHost: redis-service
  timescaleHost: postgres-service
  database:
    host: postgres-service
    port: 5432
    name: trii
    user: postgres
    password: postgres
  redis:
    host: redis-service
    port: 6379
    db: 0

ingress:
  enabled: false