# Default values for market-data service
replicaCount: 1

image:
  repository: jaimehenao8126/trii-market-data
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8001
  targetPort: 8001

resources:
  limits:
    cpu: 200m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

config:
  colombianMarkets: true
  apiPort: 8001
  redisHost: redis-service
  timescaleHost: postgres-service

ingress:
  enabled: false