apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prometheus
  namespace: monitoring
  labels:
    team: backend
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: prometheus
  endpoints:
    - port: web
      interval: 30s
