replicaCount: 2
image:
  repository: jaimehenao8126/analysis-engine
  tag: latest
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8002
resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"
env: []