apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - namespace.yaml
  - prometheus/
  - grafana/
  - loki/
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: monitoring
  app.kubernetes.io/component: monitoring
