# Default values for backend
replicaCount: 1

image:
  repository: jaimehenao8126/trii-backend
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 3001

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

config:
  apiPort: 3001
  redisHost: redis-service
  postgresHost: postgres-service