apiVersion: v1
kind: Service
metadata:
  name: postgres-nodeport
  namespace: trii-dev
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: database
spec:
  type: NodePort
  ports:
  - port: 5432
    targetPort: 5432
    nodePort: 30433
    protocol: TCP
    name: postgres
  selector:
    app: postgres

---
# ConfigMap para configurar TCP en nginx ingress
apiVersion: v1
kind: ConfigMap
metadata:
  name: tcp-services
  namespace: ingress-nginx
data:
  5432: "trii-dev/postgres-service:5432"

---
# Patch para el servicio de ingress nginx para exponer PostgreSQL
apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx-controller
  namespace: ingress-nginx
spec:
  ports:
  - name: postgres
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/name: ingress-nginx
