apiVersion: v1
kind: Service
metadata:
  name: postgres-nodeport
  namespace: trii-dev
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: database
spec:
  type: NodePort
  ports:
  - port: 5432
    targetPort: 5432
    nodePort: 30433
    protocol: TCP
    name: postgres
  selector:
    app: postgres
