apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "backend.fullname" . }}-config
  labels:
    {{- include "backend.labels" . | nindent 4 }}
data:
  config.yaml: |
    apiPort: {{ .Values.config.apiPort }}
    redisHost: {{ .Values.config.redisHost }}
    postgresHost: {{ .Values.config.postgresHost }}