apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: trii-monitoring
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: trii-platform
  revisionHistoryLimit: 10
  source:
    path: infrastructure/kubernetes/base/monitoring
    repoURL: https://github.com/Portfolio-jaime/INVESTMENT-APP.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      allowEmpty: false
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
      limit: 5
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
