# Default values for portfolio-manager service
replicaCount: 1

image:
  repository: jaimehenao8126/trii-portfolio-manager
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8003
  targetPort: 8003

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

config:
  colombianMarkets: true
  apiPort: 8003
  redisHost: redis-service
  timescaleHost: timescale-service

ingress:
  enabled: false