# Default values for auth-service
replicaCount: 1

image:
  repository: jaimehenao8126/trii-auth-service
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

config:
  apiPort: 3000
  redisHost: redis-service
  postgresHost: postgres-service