apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "notification-service.fullname" . }}-config
  labels:
    {{- include "notification-service.labels" . | nindent 4 }}
data:
  config.yaml: |
    apiPort: {{ .Values.config.apiPort }}
    redisHost: {{ .Values.config.redisHost }}
    postgresHost: {{ .Values.config.postgresHost }}